* {
    box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;
}
.container {
    max-width: 1200px;
    margin: auto;
}
.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;
    line-height: 24px;
    padding: 8px;
    padding-left: 33px;
}
main {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}
a:visited {
    color: #000000;
}
a{
    color: #000000;
}
/* HEADER HEADER HEADER HEADER HEADER*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}
.input-address {
    flex: 0.94;
    background: url(../img/home.svg) no-repeat left 11px center;
}
.buttons {
    display: flex;
    align-items: center;
}
.button {
    padding: 8px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}
.button-primary {
    background-color: #1890FF;
    color: white;
    border-radius: 2px;
    border: 1px solid #1890FF;
    margin-right: 9px;
}
.button-icon {
    margin-right: 4px;
}
/* PROMO PROMO PROMO PROMO PROMO */
.promo {
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    background: #FFF1B8 url(../img/promo-image.png) no-repeat top right -260px / 91%;
    border-radius: 10px;
    padding: 68px 71px;
    margin-bottom: 59px;
}
.promo-title {
    font-style: normal;
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
}
.promo-text {
    max-width: 538px;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}
/* RESTAURANTS RESTAURANTS RESTAURANTS RESTAURANTS RESTAURANTS*/
.input-search {
    background: url(../img/search.svg) no-repeat  left 11px center;
    width: 306px;
    height: 34px;
    margin-left: auto;
}
.section-heading {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
}
.section-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-right: 30px;
}
/* CARDS CARDS CARDS CARDS CARDS */
.cards {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}
.card {
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 30px;
    flex-basis: 30%;
    text-decoration: none;
}
.card-image {
    width: 384px;
    height: 250px;
    object-fit: cover;
}
.card-text {
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}
.card-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.card-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
}
.card-title-reg {
    font-weight: 400;
    font-size: 22px;
}
.card-tag {
    background: #262626;
    border-radius: 2px;
    color: #FFFFFF;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    padding: 1px 8px;
}
.card-info {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.card-price-bold {
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    margin-left: 32px;
}
.card-buttons {
    margin-top: 24px;
}
.button-card-text {
    margin-right: 10px;
}
.rating {
    margin-right: 26px;
    color: #FFC107;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}
.price,
.category {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.category {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.price {
    margin-right: 10px;
}
.price:after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;
    vertical-align: middle;
    border-radius: 50%;
    margin-left: 10px;
}
.ingredients {
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}
/* FOOTER FOOTER FOOTER FOOTER FOOTER */
footer {
    padding: 60px 0;
}
.footer-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-nav {
    margin-right: auto;
    margin-left: 35px;
}
.footer-link {
    display: inline-block;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #595959;
    text-decoration: none;
}
.footer-link:not(:last-child) {
    margin-right: 15px;
}
.social-links {
    display: flex;
    align-items: center;
}
.footer-social-link {
    margin-right: 21px;
}
.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.is-open {
    display: flex;
}
.modal-dialog {
    margin: auto;
    max-width: 780px;
    width: 95%;
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
}
.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 45px;
}
.modal-title {
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}
.close {
    font-size: 36px;
    border: none;
    background-color: transparent;
}
.modal-body {
    margin-bottom: 52px;
}
.food-row {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 8px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 15px;
}
.food-name {
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}
.food-price {
    margin-left: auto;
    margin-right: 47px;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
}
.food-counter {
    display: flex;
    align-items: center;
}
.counter-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FFFFFF;
    border: 1px solid #40A9FF;
    box-sizing: border-box;
    border-radius: 2px;
    width: 39px;
    height: 32px;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #40A9FF;
}
.counter {
    font-style: 16px;
    line-height: 24px;
    margin-left: 10px;
    margin-right: 10px;
}
.modal-footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footer-buttons {
    display: flex;
    align-items: center;
}
.modal-pricetag {
    padding: 15px 20px;
    background: #262626;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #fafafa;
}
.modal-login {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}
.login-is-open {
    display: flex;
}
.login-dialog {
    margin: auto;
    max-width: 780px;
    width: 30%; 
    background: #FFFFFF;
    border-radius: 5px;
    padding: 40px 45px;
    flex-wrap:wrap;
    width: 314px;
}
.login-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.login-input {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}
.input-login {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 8px;
}
.login-reg {
    text-decoration: none;
}
.button-login {
    justify-content: center;
    margin-left: 69px;
    padding: 8px 24px;
    margin-bottom: 14px;
}
.login-reg {
    margin-left: 39px;
    color: rgb(46, 42, 42);
}
.login-reg:hover {
    color: rgb(20, 20, 20) ;
    text-decoration: underline;
}
/* MEDIA MEDIA MEDIA MEDIA MEDIA */
@media (max-width:1366px) {
    .promo {
        background-size: 1100px;
    }
}
@media (max-width: 1125px) {
    .container {
        width: 90%;
    }
}
@media (max-width:992px) {
    .container {
        max-width: 750px;
    }
    .promo {
        padding: 50px;
    }
    .promo-text {
        font-size: 16px;
        max-width: 400px;
    }
    .card {
        flex-basis: 49%;
    }
    .footer-link {
        font-size: 18px;
    }
    .food-row {
        flex-wrap: wrap;
    }
    .food-price {
        margin: 0;
    }
    .food-counter {
        margin-top: 5px;
    }
    .modal-footer {
        display: grid;
        width: 320px;
        margin-left: 222px;
    }
    .modal-pricetag {
        text-align: center;
        margin-bottom: 10px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 680px;
    }
    .card-info {
        flex-wrap: wrap;
    }
    .rating {
        flex-basis: 100%;
    }
    .card-title {
        font-size: 18px;
    }
    .promo {
        background: #FFF1B8 url(../img/promo-image.png) no-repeat top 0px right -388px / 146%;    }
    .promo-title {
        font-size: 24px;
        line-height: 1.4;
    }
    .modal-dialog {
        max-height: 640px;
    }
    .modal-body {
        margin-bottom: 30px;
    }
    .food-counter {
        margin: 0;
    }
    .modal-footer {
        margin: 0 194px;
    }
}
@media (max-width:578px) {
    .container {
        max-width: 90%;
    }
    .header {
        flex-wrap: wrap;
    }
    .input-address {
        order: 5;
        margin-top: 15px;
        flex: 1;
    }
    .promo {
        background-image: none;
    }
    .section-title {
        font-size: 30px;
    }
    .card {
        flex-basis: 100%;
    }
    .card-image {
        width: 100%;
    }
    footer {
        padding: 20px 0;
    }
    .footer-nav {
        order: 0;
        margin-left: 0;
        margin-right: 0;
    }
    .footer-logo {
        order: 1;
        margin-right: 15px;
    }
    .footer-block {
        align-items: flex-start;
    }
    .social-links {
        order: 2;
    }
    .modal-header {
        margin-bottom: 15px;
    }
    .modal-body {
        margin-bottom: 15px;
    }
    .food-counter {
        margin: 0 50px;
    }
    .footer-buttons {
        align-items: initial;
    }
}
@media (max-width: 480px) {
    .button-text {
        display: none;
    }
    .button {
        min-height: 40px;
    }
    .section-title {
        font-size: 20px;
    }
    .section-heading {
        flex-wrap: wrap;
        display: inherit;
    }
    .input-search {
        width: 100%;
    }
    .footer-block {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .footer-logo {
        order: 0;
        margin-bottom: 20px;
    }
    .footer-nav {
        margin-bottom: 20px;
        text-align: center;
        align-items: center;
    }
}
@media (max-width: 414px) {
    .promo {
        margin-bottom: 10px;
    }
    .food-counter {
        margin: 0 98px;
    }
    .modal-footer {
        margin: 0 25px;
    }
}
@media (max-width: 375px) {
    .food-counter {
        margin: 0 80px;
    }
    .modal-footer {
        margin-left: -4px;
    }
}
@media (max-width: 320px) {
    .modal-pricetag {
        padding: 9px;
        display: none;
    }
     .input-search {
        width: 285px;
    }
    .food-counter {
        margin: 0 54px;
    }
    .modal-footer {
        margin-left: -23px;
    }
}